---
import InProcress from "./InProcress.astro";

const { id, class: className } = Astro.props;
---
<!-- Border gradiente -->
<div class=`flex flex-col rounded-2xl w-full h-auto gap-4 hover:scale-105 transition-transform duration-500
`>
  <!-- <img 
  class="rounded-2xl "
  src="https://i.ibb.co/JryqfvX/games-cba.png" 
  alt="project">
  <span
      class="text-md md:text-md lg:text-3xl xl:text-4xl font-bold text-[#707581] dark:text-gray-50 epilogue-sans"
    >
      Me llamo
    </span>
    <span
      class="text-md md:text-md lg:text-lg font-bold text-[#707581] dark:text-gray-50 epilogue-sans"
    >
      Plataforma Web 
    </span> -->
</div>

